/******************************************************
  Globals
******************************************************/

.hidden {
    display: none !important;
}

* {
    box-sizing: border-box;
}

@media screen and (min-width: 320px) and (max-width: 2000px) {
    .container {
        max-width: 100%;
    }

}



/******************************************************
  Base Structure
******************************************************/

html,
body {
    height: 100vh;
    width: 100vw;
    min-height: 568px;
    min-width: 320px;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    overflow: hidden;
}

.container {
    height: 100vh;
    min-height: 568px;
}

.title-text {
    height: 100vh;
    min-height: 568px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.vertical-text {
    font-family: 'Titillium Web', sans-serif;
    color: #32313F;
    writing-mode: vertical-lr;
    font-size: 100px;
    z-index: 1;
}

#line-span-container {
    position: absolute;
    left: 0;
    top: 50%;
    display: flex;
    flex-direction: column;
    width: 300px;
    z-index: 0;
}

#line-span-container .line-span {
    height: 3px;
    margin: 7px 0px;
}

#line-one {
    width: 75%;
    background: #f28d30;
}

#line-two {
    width: 90%;
    background: #32313f;
}

#line-three {
    width: 80%;
    background: #f28d30;
}

#line-four {
    width: 100%;
    background: #f28d30;
}

.carousel-control-prev, .carousel-control-next {
  z-index: 5;
}

.carousel-control-prev img, .carousel-control-next img {
  position: absolute;
  bottom: 5px;
  height: 20px;
  width: 20px;
}


/*****************************************************
  Intro Animation
*****************************************************/

/*  #intro-animation {
   height: 100%;
   width: 100%;
   background-color: #32313F;
   position: absolute;
   z-index: 999;
   -webkit-animation: landing-slide 3s 2s;
   Safari 4+-moz-animation: landing-slide 3s 2s;
   Fx 5+-o-animation: landing-slide 3s 2s;
   Opera 12+animation: landing-slide 3s 2s;
   IE 10+,
   Fx 29+
}

#intro-animation #intro-img {
   max-height: 90px;
   max-width: 90px;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   margin: auto;
   opacity: 0;
   -moz-transition: opacity 3s;
   -webkit-transition: opacity 3s;
   -o-transition: opacity 3s;
   transition: opacity 3s;
}

#intro-animation #intro-img.loaded {
   opacity: 1;
} 
*/



/*****************************************************
  Header/Nav
*****************************************************/

#logo {
    position: fixed;
    right: 0;
    left: 0;
    margin: auto;
    max-height: 70px;
    z-index: 999;
}

#toggle-wrapper {
    position: fixed;
    top: 7px;
    left: 15px;
    height: 40px;
    width: 40px;
    background-color: #f28d30;
    z-index: 998;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toggle {
    z-index: 999;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    -webkit-animation: breathing 3s ease-out infinite;
    -moz-animation: breathing 3s ease-out infinite;
    -o-animation: breathing 3s ease-out infinite;
    animation: breathing 3s ease-out infinite;
}

#toggle .toggle-span {
    height: 3px;
    background: #32313f;
    transition: all 0.5s ease-in-out;
    backface-visibility: hidden;
    margin: 5px auto;
}

#toggle.on #one {
    transform: rotate(45deg) translateX(2px) translateY(4px);
}

#toggle.on #two {
    opacity: 0;
}

#toggle.on #three {
    transform: rotate(-45deg) translateX(8px) translateY(-10px);
}

#sidebar {
    z-index: 997;
    width: 0px;
    height: 100%;
    min-height: 568px;
    position: fixed;
    top: 0px;
    left: -83px;
    background-color: #f28d30;
    transition: all .5s ease-in-out;
    display: table;
    box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.2);
}

#sidebar #menu {
    height: 50px;
    width: 100%;
    padding: 0;
}

#sidebar #menu li {
    display: block;
    text-align: right;
    font-size: 20px;
    min-height: 50px;
    font-weight: 200;
    cursor: pointer;
    transition: all 0.3s ease-out;
    width: 100%;
    padding-right: 10px;
}

#sidebar li:nth-child(1) {
    margin-top: 50px;
}

#sidebar #menu li a {
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
    color: #fff;
    width: 100%;
}

#sidebar #menu li a:hover {
    color: #32313f;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

#menu-text {
    font-family: 'Titillium Web', sans-serif;
    color: #32313F;
    writing-mode: vertical-lr;
    font-size: 100px;
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 15px;
    line-height: 80px;
    alignment-baseline: center;
}

@media(max-width: 768) {
    #toggle {
        visibility: visible;
        opacity: 1;
        margin-top: 6px;
    }
}



/******************************************************
  Landing
******************************************************/

#landing {
    width: 100%;
    height: 100vh;
}

#landing-half-face-col {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#landing-half-face {
    display: inline-block;
    z-index: 1;
    max-height: 90vh;
    min-height: 510px;
}



/*****************************************************
  Portfolio
*****************************************************/

#gallery-col {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#gallery {
    margin-top: 40px;
}

.gallery-item {
    display: inline-block;
    height: 110px;
    width: 180px;
    margin-bottom: 5px;
    background: #DDD;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2)
}

.gallery-item-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
    overflow: hidden;
}

.gallery-item-title {
    height: 100%;
    width: 25%;
    background-color: #f28d30;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out;

}

.gallery-vertical-text {
    font-family: 'Titillium Web', sans-serif;
    color: #32313F;
    writing-mode: vertical-rl;
    font-size: 20px;
    z-index: 1;
    line-height: 20px;
    text-align: center;
}

.gallery-item img {
    height: 80%;
    margin: auto;
}

.full-screen-gallery-item {
    height: 100vh;
    width: 100%;
    background-color: #f28d30;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease-in-out;
    display: flex;
    color: #32313F;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    overflow-y: auto;
}

.full-screen-gallery-item > .row {
    height: 100%;
}

.full-screen-gallery-item button {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    background: none;
    border: none;
}

.full-screen-gallery-item button img {
    height: 20px;
    width: 20px;
}

.full-screen-gallery-item h1 {
    font-family: 'Titillium Web', sans-serif;
    width: 100%;
    text-align: center;
    margin-top: 45px;
}

.full-screen-gallery-item p.short-info {
    margin-bottom: 0px;
    width: 100%;
}

.full-screen-gallery-item img.app-img {
    max-width: 100%;
    height: 180px;
    margin: 20px 0px;
    padding: auto 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.list-group {
  display: flex;
  flex-direction: row;
  font-size: 17px;
  height: 38px;
}

.list-group a {
  padding: 5px;
  border-radius: 0px;
  height: 100%;
}

.tab-pane {
  background-color: #32313F;
  color: #fff;
  padding: 5px;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-screen-gallery-item p.app-description {
    width: 100%;
    font-size: 12px;
    margin-bottom: 0px;
}

.full-screen-gallery-item p.live-code-links {
    width: 100%;
}

.full-screen-gallery-item p.made-with-title {
    width: 100%;
}

.full-screen-gallery-item p.tech-list {
    width: 100%;
}



/*****************************************************
  About
*****************************************************/

#about-title {
    padding-right: 0px;
}

#about-content-col {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    width: 100%;
    z-index: 2;
    margin-top: 35px;
}

.accordion {
    width: 100%;
}

.card-body {
    text-align: center;
    padding: 5px 25px 0px 25px;
    background-color: #32313F;
    color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    font-size: 12px;
    padding-bottom: 5px;
}

.card-body p {
    margin-bottom: 0px;
}

.card-header {
    background-color: #32313F;
    border-bottom: 2px solid #F28D30;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0px;
}

.card-header h5 {
  width: 100%;
  height: 100%;
}

.card-header h5 button {
    color: #F28D30;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 5px;
    background-color: #32313F;
    font-size: 25px;
    width: 100%;
    height: 100%;
}

.card-body ul {
    list-style: none;
    color: #fff;
    padding-left: 0px;
    font-size: 12px;
    margin-bottom: 0px;
}

#skills-wrapper {
    display: flex;
    justify-content: space-between;
    height: auto;
}

#skills1,
#skills2 {
    width: 50%;
    display: inline-block;
    text-align: left;
    margin-bottom: 0px;
}

#skills1 {
    padding-right: 5px;
    text-align: right;
    border-right: 1px solid #777;
}

#skills2 {
    padding-left: 5px;
}

#about-info-container {
    width: 100%;
    background-color: #32313F;
    display: inline-block;
    padding: 5px;
    color: #fff;
    overflow-y: scroll;
    font-size: 12px;
}



/*****************************************************
  Contact
*****************************************************/

#contact {
    height: 100vh;
}

#contact-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.contact-info {
    list-style: none;
    padding-left: 0px;
}

.contact-info li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.contact-info p {
    margin-bottom: 0px;
    font-size: 15px;
    font-family: 'Titillium Web', sans-serif;
    color: #32313F;
}

.contact-info img {
    height: 80px;
    width: 80px;
}



/*****************************************************
  Footer
*****************************************************/

footer {
    color: #32313f;
    font-size: 12px;
    text-align: center;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
}



/******************************************************
    Keyframes
******************************************************/

/*************************
  Landing-slide
*************************/

@-webkit-keyframes landing-slide {
    0% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(0px, -2000px);
    }
}

@-moz-keyframes landing-slide {
    0% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(0px, -2000px);
    }
}

@-o-keyframes landing-slide {
    0% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(0px, -2000px);
    }
}

@keyframes landing-slide {
    0% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(0px, -2000px);
    }
}

/*************************
  Breathing
*************************/

@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@-moz-keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@-o-keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}